@using Microsoft.EntityFrameworkCore
@using TheWarehouse.Data
@using TheWarehouse.Data.Models
@using TheWarehouse.Data.Repositories
@inject IDbContextFactory<WarehouseDbContext> ContextFactory
@inject IJSRuntime JSInterop
<div class="modal" tabindex="-1" role="dialog" id="AddEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-field">
                    <label>Supplier Name</label><br />
                    <input type="text" @bind="SupplierName" />
                </div>

                <div class="input-field">
                    <label>Address Line 1</label><br />
                    <input type="text" @bind="AddressLine1" />
                </div>
                <div class="input-field">
                    <label>Address Line 2</label><br />
                    <input type="text" @bind="AddressLine2" />
                </div>
                <div class="input-field">
                    <label>City</label><br />
                    <input type="text" @bind="City" />
                </div>
                <div class="input-field">
                    <label>Postcode</label><br />
                    <input type="text" @bind="Postcode" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="SaveSupplier">Save and Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="PrepareToClose">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnClose{ get; set; }
    [Parameter]
    public int? SupplierToEditId { get; set; } = null;

    public string? SupplierName { get; set; }
    public string? AddressLine1 { get; set; }
    public string? AddressLine2 { get; set; }
    public string? City { get; set; }
    public string? Postcode { get; set; }

    WarehouseDbContext Context => ContextFactory.CreateDbContext();

    protected async override void OnParametersSet()
    {
        SupplierRepository repo = new(Context);
        if (SupplierToEditId != null)
        {
            Supplier supplier = await Context.Suppliers.FindAsync(SupplierToEditId);
            //Supplier supplier = await repo.GetSupplierById(SupplierToEditId);
            SupplierName = supplier.Name;
            AddressLine1 = supplier.AddressLine1;
            AddressLine2 = supplier.AddressLine2;
            City = supplier.City;
            Postcode = supplier.Postcode;

        }
        else
        {
            SupplierName = "";
            AddressLine1 = "";
            AddressLine2 = "";
            City = "";
            Postcode = "";
        }

        StateHasChanged();
    }


    private void PrepareToClose()
    {
        SupplierToEditId = null;
    }
    private async Task SaveSupplier(){
        Supplier supplier;
        SupplierRepository repo = new(Context);
        if (await repo.GetSupplierById(SupplierToEditId) != null)
        {
            supplier = await repo.GetSupplierById(SupplierToEditId);
            supplier.Name = SupplierName;
            supplier.AddressLine1 = AddressLine1;
            supplier.AddressLine2 = AddressLine2;
            supplier.City = City;
            supplier.Postcode = Postcode;
            repo.UpdateSupplier(supplier);
        }
        else{
            supplier = new()
            {
                Name = SupplierName,
                AddressLine1 = AddressLine1,
                AddressLine2 = AddressLine2,
                City = City,
                Postcode = Postcode
            };

            await repo.InsertSupplier(supplier);
        }

        await repo.Save();
        LogRepository logRepo = new(Context);
        logRepo.Log("Added Supplier - \"" + supplier.Name + "\"");
        await logRepo.Save();
        Context.Dispose();
        await JSInterop.InvokeVoidAsync("CloseModal");
        PrepareToClose();
        await OnClose.InvokeAsync();
    }

}