@page "/products"
@using TheWarehouse.Data
@using TheWarehouse.Data.Models
@inject WarehouseDbContext Context
<h3>Products</h3>

<table class="table">
    <thead>
        <th>Product Name</th>
        <th>Supplier Name</th>
    </thead>

    <tbody>
        @foreach(Product product in Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Supplier.Name</td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<Product> Products = new();

    protected override void OnInitialized()
    {
        Products = Context.Products.ToList<Product>();
    }

}
